 .swiper-pagination-bullet-active {
     background-color: #EE4D2D !important;
 }
 
 .swiper-button-prev:hover {
     display: block;
     color: white !important;
     background-color: rgba(0, 0, 0, .3);
 }
 
 .swiper-button-prev {
     color: transparent !important;
     padding: 5px;
 }
 
 .swiper-button-next {
     color: transparent !important;
     padding: 5px;
 }
 
 .swiper-button-next:hover {
     display: block;
     color: white!important;
     background-color: rgba(0, 0, 0, .3);
 }
 
 @media screen and (max-width:600px) {
     .image__slider {
         width: 100%;
     }
     .swiper-container-horizontal>.swiper-pagination-bullets {
         bottom: 20px;
     }
 }
 
 .image__slider {
     height: 220px;
     width: 100%;
 }