.detail__product__container {
    padding-top: 120px;
    .image__product {
        height: 300px;
    }
    .product__color__container {
        display: flex;
        margin-top: 20px;
        margin-left: 30px;
        .product__color__image {
            height: 40px;
            padding: 10px 6px;
            border: 1px solid rgb(223, 223, 223);
            margin: 2px;
            border-radius: 5px;
        }
        .product__color__name {
            font-size: 11px;
            text-align: center;
            width: 99%;
            font-family: sans-serif;
        }
    }
}