.remove__padding__grid {
    padding: 0px !important;
    .product__item {
        text-transform: capitalize;
        display: flex;
        font-family: sans-serif;
        justify-content: center;
        font-size: 14px;
        padding: 15px 0px 10px 0px;
        border: 1px solid #eee;
        &:hover .product__image {
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);
            -webkit-transform: all .3s ease-in-out .3s;
            -moz-transform: all .3s ease-in-out .3s;
            -ms-transform: all .3s ease-in-out .3s;
            -o-transform: all .3s ease-in-out .3s;
            transition: all .3s ease-in-out .3s;
        }
        .product__detail {
            padding: 6px;
            .product__detail__info {
                display: flex;
                justify-content: center;
            }
            .product__feedback__container {
                padding-top: 5px;
                text-align: center;
                .product__star {
                    font-size: 12px;
                }
                .product__feedback {
                    font-size: 12px;
                    color: gray;
                    margin-top: 5px;
                    padding-top: 10px;
                    margin-left: 5px;
                }
            }
            .product__image {
                height: 180px;
                margin-left: 20px;
                position: relative;
                transition: 0.5s all ease 0s;
                -webkit-transition: 0.5s all ease 0s;
                -moz-transition: 0.5s all ease 0s;
                -ms-transition: 0.5s all ease 0s;
            }
            .product__image__sale {
                height: 40px;
                position: absolute;
            }
            .product__title {
                font-weight: bold;
                text-align: center;
            }
            .product__price__container {
                text-align: center;
            }
            .product__price__sale {
                color: #BF081F;
                font-weight: bold;
                text-align: center;
            }
            .product__price {
                margin-left: 5px;
                color: gray;
                font-size: 13px;
                text-decoration: line-through;
            }
            .product__sale {
                margin-left: 2px;
                font-size: 12px;
                color: #BF081F;
                background-color: #f6c84c;
                padding: 5px 10px;
                border-radius: 12px;
            }
        }
    }
}

.background__item {
    background-color: #FFFFFF;
}

.product__version__container {
    border: 1px solid rgb(224, 222, 222);
    width: 100%;
    .product__version__price {
        padding: 0px 0px 5px 15px;
        margin: 0px !important;
    }
}

.btn__payment__container {
    padding-top: 20px;
    width: 100%;
    .btn__payment {
        width: 100%;
        padding: 10px;
        border-radius: 6px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
        border: none;
        box-shadow: 0 0 20px #eee;
        font-size: 14px;
        transition: 0.5s;
        background-size: 200% auto;
        &:hover {
            background-position: right center;
        }
        &:active {
            transition: background-size 0
        }
    }
}

.product__detail__warranty {
    margin-left: 40px;
    border: 1px solid rgb(224, 222, 222);
    width: 80%;
    margin-top: 27px;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
    .product__detail__warranty__item {
        padding: 3px;
    }
    .icon__full__box {
        font-size: 12px;
        margin-right: 5px;
        color: rgb(19, 153, 216);
    }
    .icon__award {
        font-size: 15px;
        color: rgb(19, 153, 216);
        margin-left: 2px;
        margin-right: 10px;
    }
    .icon__change {
        font-size: 13px;
        color: rgb(19, 153, 216);
        margin-left: 2px;
        margin-right: 5px;
    }
}

.product__promotion__container {
    border: 1px solid rgb(224, 222, 222);
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
    font-family: sans-serif;
    .product__promotion__item {
        padding: 10px;
    }
    .product__promotion__item__icon {
        padding: 4px 0px;
        width: 40%;
        color: red;
    }
    .product__promotion__item__title {
        padding: 3px 0px;
        font-family: sans-serif;
    }
}

.product__detail__parameter {
    .product__detail__parameter__title {
        margin-bottom: 10px;
        font-weight: bold;
    }
    font-family: sans-serif;
    margin-left: 40px;
    border: 1px solid rgb(224, 222, 222);
    width: 80%;
    margin-top: 27px;
    padding: 10px;
    font-size: 14px;
    .product__detail__parameter__item {
        padding: 8px 0px;
    }
}