.category__phone__item {
    margin-right: 2px;
    margin-left: 2px;
    overflow: hidden;
    /* [1.2] Hide the overflowing of child elements */
    & img {
        padding: 1px;
        border: 1px solid #eee;
        border-radius: 5px;
        height: 35px;
        width: 120px;
        transition: transform .5s ease;
        &:hover {
            transform: scale(0.9);
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
            -moz-box-shadow: 3px 3px 5px 6px #ccc;
            /* Firefox 3.5 - 3.6 */
            box-shadow: 0.3px 0.3px 0.3px 0.3px rgb(204, 204, 204);
            /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        }
    }
}

.slick-slide {
    outline: none
}

.slick-slide div {
    outline: none;
}